/*couleur du fond*/
body{
    background-color: rgb(238, 238, 238);
}
/*titre*/
h1{
    color: rgb(175, 175, 175);
    border-bottom: 1px solid rgb(175, 175, 175);
}
/*menu*/
ul{
    width: 100px;
}
ul li{
    list-style: none;
    position: relative;
}
a{
    text-decoration: none;
}
li:hover>a{
    background-color: rgb(226, 124, 124);
}
/*sous menu*/
ul li ul{
    position: absolute;
    top: -1px;
    right: -100px;
    display: none;
}
ul li:hover ul{
    display: block;
}
p{
    position: absolute;
    top: 70px;
    left: 200px;
    color: rgb(204, 204, 204);
}